@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome</h1>
    <br />

    <p>Just a basic crud for trainning.</p>
    <p>.NETCore + Postgres</p>
    <p>Best Regards, Luciano</p>

</div>
